nav {
  position: fixed;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em 0 1.5em;
  text-align: center;
  z-index: 1;
}

nav div {
  align-self: center;
}